# tabs and new lines

In [3]:
print('This is a \n new line')

This is a
 new line

In [4]:
print('This is a \t tab')

This is a 	 tab

In [9]:
print('all \n in \na \n new \n line')

all
 in
a
 new
 line

# variables

In [10]:
x = 5
y = 10
print(x + y)

15

In [11]:
z = x * y
print(z)

50

In [12]:
name = 'John'
print(name)

John

In [13]:
name = input('What is your name? ')
answer = f"my name is {name}"
print(answer)

my name is Rob

In [14]:
pi = 3.14
a = pi * 5
print(a)

15.700000000000001

In [16]:
radius = 2.5
pi = 3.14
area = pi * radius ** 2
print(area)

19.625

# strings

In [18]:
sentence = 'The cat sit on the mat.'
sentence2 = 'And the dog did as well.'
sentence3 = sentence + " " + sentence2
print(sentence3)

The cat sit on the mat. And the dog did as well.

In [20]:
age = input('How old are you?\n')
answer = f"I'm {age} years old."
print(age)
print(answer)

35
I'm 35 years old.

In [23]:
user_input = input('what is your last name? >>> ')
print(user_input.title())

Johnson

In [27]:
# string slicing
country = 'United States of America'
country[0]

'U'

In [29]:
country[0:6]

'United'

In [31]:
country[7:13]

'States'

In [32]:
country.lower()

'united states of america'

In [33]:
country.upper()

'UNITED STATES OF AMERICA'

In [34]:
country.title()

'United States Of America'

# asking the editor for help

In [24]:
help()

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

# simple programs

In [29]:
# write a program that asks the user for weather in celsius and then the program converts the weather to farenheit
celsius = input('what is the temperature in celsius? ')
fahrenheit = (float(celsius) * 9/5) + 32
print(f"The weather in celsius is {celsius}.")
print(f"The weather in farenheit is {fahrenheit}")

The weather in celsius is 30.
The weather in farenheit is 86.0

In [30]:
# write a program that asks the user for weather in farenheit and then the program converts the weather to celsius
fahrenheit = input('what is the temperature in farenheit? ')
celsius = (float(fahrenheit) - 32) * 5/9
print(f"The weather in farenheit is {fahrenheit}.")
print(f"The weather in celsius is {celsius}")

The weather in farenheit is 100.
The weather in celsius is 37.77777777777778

In [31]:
# ask the user for the radius of an area then print the area
user_input = float(input('Please enter the radius of the circle: >>>'))
pi = 3.14
area = pi * radius ** 2
print(f"The area of the circle is {area}")

The area of the circle is 19.625

In [32]:
# obtain the sum of two integers
first = int(input('Please, enter the first integer: '))
second = int(input('Please, enter the second integer: '))
result = first + second
print(result)

656

In [33]:
# obtain the product of two integers
first_int = int(input('Enter first integer: '))
second_int = int(input('Enter second integer: '))
result = f"The result of the product of {first_int} and {second_int} is {first_int * second_int} "
print(result)

The result of the product of 10 and 20 is 200

In [35]:
total_slices = 4 * 4
number_of_pizzas = (total_slices + 5) // 6
slices_left = number_of_pizzas * 6 - total_slices
print(f"You will need {number_of_pizzas} pizzas to feed all the people.")
print(f"You will have {slices_left} slices left over.")

You will need 3 pizzas to feed all the people.
You will have 2 slices left over.

In [40]:
# given two numbers, write a program that will find the maximum number
x = 786
y = 1345

if x >= y: print(x)
elif y >= x: print(y)

1345

In [45]:
# find the factorial of an integer
fact = 1
num = int(input("Enter an integer to calculate factorial: "))
for n in range(1, num+1):
    factorial = factorial * n
print(f"The factorial of {num} is {factorial}")

The factorial of 20 is 8828514807271391232000000

In [50]:
# find the fibonacci of a number
fib = 1
fibonacci = 0
num = int(input('enter an integer to calculate fibonacci: '))
for n in range(1, num+1):
    fibonacci = fibonacci + fib
    fib = fibonacci - fib
print(f'the fibonacci of {num} is {fibonacci}')

the fibonacci of 10 is 55

# conditionals

In [2]:
x = int(input('enter an integer: '))
y = int(input('enter another integer: '))
result = x if x > y else y
print(result)

45

In [6]:
weather = int(input('What is the weather like? '))
res = 'hot' if weather >=20 else 'warm' if weather >=10 else 'cold' if weather >=0 else 'freezing'
print(res)

warm

In [7]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odds = [num for num in nums if num % 2 != 0]
print(odds)

[1, 3, 5, 7, 9]

In [13]:
x = [1,2,3,4,5]
y = [6,7,8,9,10]
res = [True for x, y in zip(x, y) if y > x]
print(res)

[True, True, True, True, True]

In [16]:
x, y, z = 10, 20, 30
res = [x if x >= y else y if y >= z else z]
print(res)

[30]

In [20]:
from random import randint
x, y, z = randint(1, 10), randint(10, 20), randint(20, 30)
res = [x if x >= y else y if y >= z else z]
print(f"number = {res}")

number = [21]

In [24]:
temp = int(input('Enter the temperature in Celsius: >>>'))
res = 'wear some light clothes' if temp >= 20 else 'wear something light but not too light' if temp >= 10 else 'bring a jacket' if temp >= 0 else 'freezing'
print(temp)
print(res)

-10
freezing

In [36]:
word = 'winter'
guess = input('Enter a word. (Hint: it is a season.): ')
print('you win' if guess == word else 'you lose')

you lose

In [39]:
# not a very good example of using if statements
user_input = int(input('Enter a number between 1 and 10: '))
print('one' if user_input == 1 else 'two' if user_input == 2 else 'three' if user_input == 3 else 'four' if user_input == 4 else 'five' if user_input == 5 else 'six' if user_input == 6 else 'seven' if user_input == 7 else 'eight' if user_input == 8 else 'nine' if user_input == 9 else 'ten' if user_input == 10 else 'not a number between 1 and 10')

seven

In [42]:
secret_number = randint(1, 10)
guess = int(input('Guess a number between 1 and 10: '))
print('you win' if guess == secret_number else 'you guessed too high' if guess > 10 else 'you guessed too low' if guess < 1 else 'you guessed wrong')

you guessed too low

In [45]:
num_one = int(input('Enter an integer between 1 and 10: '))
num_two = int(input('Enter another integer between 10 and 20: '))
print(f'you entered {num_one} and {num_two}')
if num_one > 15 and num_two > 15: print(num_one * num_two)
elif num_one > 15 or num_two > 15: print(num_one + num_two)
else: print(num_one - num_two)

you entered 15 and 15
0

In [46]:
first = int(input('Enter first integer: '))
second = int(input('Enter second integer: '))
print(f'Before swapping first integer = {first} and second integer = {second}')
first, second = second, first
print(f'After swapping first integer = {first} and second integer = {second}')

Before swapping first integer = 30 and second integer = 50
After swapping first integer = 50 and second integer = 30

# loops

In [54]:
nums = [1,2,3,4,5,6,7,8,9,10]
[print(num) for num in nums if num % 2 == 0]

2
4
6
8
10

[None, None, None, None, None]

In [57]:
[print(n) for n in range(1, 11)]

1
2
3
4
5
6
7
8
9
10

[None, None, None, None, None, None, None, None, None, None]

In [2]:
[n for n in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
for x in range(1, 20, 2):
    print(x, end=' ')

1 3 5 7 9 11 13 15 17 19

In [63]:
word = 'hello'
for w in word:
    print(w)

h
e
l
l
o

In [64]:
hot = True
while hot:
    print("it's hot. wear some light clothes.")
    hot = False

it's hot. wear some light clothes.

In [65]:
lives = 3
while lives > 0 and lives <= 3:
    print(f'you have {lives} lives left')
    lives -= 1

you have 3 lives left
you have 2 lives left
you have 1 lives left

In [71]:
tries = 0
secret_number = randint(1, 10)
while tries < 3:
    guess = int(input('Enter a number between 1 and 10: '))
    if guess == secret_number:
        print('you win')
        break
    tries += 1
    print('you guessed it wrong. Try again.')
else:
    if tries == 3:
        print('you lose')

you guessed it wrong. Try again.
you guessed it wrong. Try again.
you guessed it wrong. Try again.
you lose

In [40]:
user_input = input('Enter your name: >>>')

names = []
while user_input != 'quit':
    names.append(user_input)
    user_input = input('Enter name again: >>>')
print(f"The names entered are {names}")

The names entered are ['rob', 'vick']

In [47]:
n = 20
for i in range(1, n+1):
    [print(f"{i}: fizzbuzz") if i % 3 == 0 and i % 3 == 0 else print(f"{i}: fizz") if i % 3 == 0 else print(f"{i}: buzz") if i % 5 == 0 else print(i)]

1
2
3: fizzbuzz
4
5: buzz
6: fizzbuzz
7
8
9: fizzbuzz
10: buzz
11
12: fizzbuzz
13
14
15: fizzbuzz
16
17
18: fizzbuzz
19
20: buzz

In [49]:
# ask user for two numbers
num_one = int(input('Enter first integer between 1 and 50: '))
num_two = int(input('Enter second integer between 1 and 50: '))

# check if the numbers are valid
while num_one < 0 or num_two < 0 or num_one > 50 or num_two > 50 or num_one == num_two:
    print('invalid input')
    num_one = int(input('Enter first integer between 1 and 50: '))
    num_two = int(input('Enter second integer between 1 and 50: '))


if num_one < num_two:
    for i in range(num_one, num_two+1):
        print(i, end=" ")
else:
    for i in range(num_two, num_one+1):
        print(i, end=" ")

34 35 36 37 38 39 40

In [54]:
user_input = input('Enter a word: >>>')
reversed_word = ''

for char in user_input:
    reversed_word = char + reversed_word
print(reversed_word)

olleh

In [55]:
# easier way to reverse a string
user_input[::-1]

'olleh'

In [63]:
# check the power of a number
num = input('please enter an integer between 1 and 10 to verify its power: >>>')

while (not num.isdigit()) or int(num) < 1 or int(num) > 10:
    print('please enter another integer betwen 1 and 10')
    num = input('please enter an integer between 1 and 10 to verify its power: >>>')
num = int(num)
print('---------------------------------------')
for x in range(1, 11):
    print(f"{num} ** {x} = {num ** x}")
print('---------------------------------------')

---------------------------------------
5 ** 1 = 5
5 ** 2 = 25
5 ** 3 = 125
5 ** 4 = 625
5 ** 5 = 3125
5 ** 6 = 15625
5 ** 7 = 78125
5 ** 8 = 390625
5 ** 9 = 1953125
5 ** 10 = 9765625
---------------------------------------

In [59]:
# ask the user for a numbe then display a times table
user_num = input('Enter a number between 1 and 20: ')

while (not user_num.isdigit()) or int(user_num) < 1 or int(user_num) > 20:
    print('Invalid input!')
    user_num = input('Enter a number between 1 and 20: ')
user_num = int(user_num)
print('================================')
for i in range(1, 21):
    print(f'{user_num} x {i} = {user_num * i}')
print('================================')

================================
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150
15 x 11 = 165
15 x 12 = 180
15 x 13 = 195
15 x 14 = 210
15 x 15 = 225
15 x 16 = 240
15 x 17 = 255
15 x 18 = 270
15 x 19 = 285
15 x 20 = 300
================================

In [66]:
for x in range(1, 11):
    print(f"This is the {x} times table.")
    for y in range(1, 11):
        print(f"{x} * {y} = {x * y}")

This is the 1 times table.
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
This is the 2 times table.
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
This is the 3 times table.
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
This is the 4 times table.
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
This is the 5 times table.
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
This is the 6 times table.
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
This is the 7 times table.
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
This is the 8 times table.
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
This is the 9 times table.
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
This is the 10 times table.
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [71]:
# ask user for some numbers then calculate their mean
user_input = input('Enter a number: ')
numbers = []
while user_input.lower() != 'done':
    while user_input.isdigit() == False:
        print('Invalid input!')
        user_input = input('Enter a number: ')
    numbers.append(int(user_input))
    user_input = input('Enter a number: ')
total = 0
for n in numbers:
    total += n
print(f'The mean is {total / len(numbers)}')
print(sum(numbers) / len(numbers))

The mean is 171.2
171.2

In [77]:
# calculate the factorial of a given number
# factorial is the product of all numbers from 1 to the given number
num = int(input('Enter a number from 1 to 15: '))
factorial = 1

for num in range(1, num+1):
    factorial *= num
    
print(f'{num}! = {factorial}')

10! = 3628800

In [79]:
# calculate fibonacci sequence
# fibonacci sequence is a sequence of numbers where each number is the sum of the two previous numbers

n = 50
x = 0
y = 1

nums = []
for i in range(n):
    nums.append(x)
    x, y = y, x + y
print(f"The first {n} fibonacci numbers are {nums}")

The first 50 fibonacci numbers are [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049]

In [91]:
# numbers required
nums = 100
even_nums, odd_nums = [], []
# loop to generate the numbers
[even_nums.append(i) if i % 2 == 0 else odd_nums.append(i) for i in range(1, nums+1)]

print(f"The first {nums} even numbers are {even_nums}")
print(f"The first {nums} odd numbers are {odd_nums}")

The first 100 even numbers are [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
The first 100 odd numbers are [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# lists

In [7]:
data = [10, 34, 56, 43, 22, 99, 102, 11, 20, 44]

for i in range(len(data)):
    for j in range(0, len(data) - i - 1):
        if data[j] > data[j + 1]:
            data[j], data[j + 1] = data[j + 1], data[j]
print(data)

[10, 11, 20, 22, 34, 43, 44, 56, 99, 102]

In [10]:
print(sorted(data))

[10, 11, 20, 22, 34, 43, 44, 56, 99, 102]

In [12]:
new_list = data.copy()

In [13]:
new_list.append(100)

In [14]:
print(new_list)

[10, 11, 20, 22, 34, 43, 44, 56, 99, 102, 100]

In [15]:
print(sorted(new_list))

[10, 11, 20, 22, 34, 43, 44, 56, 99, 100, 102]

In [16]:
new_list.remove(102)

In [17]:
print(new_list)

[10, 11, 20, 22, 34, 43, 44, 56, 99, 100]

In [19]:
new_list.insert(0, 200)

In [20]:
new_list

[200, 10, 11, 20, 22, 34, 43, 44, 56, 99, 100]

In [21]:
new_list.pop()

100

In [22]:
new_list.insert(4, 300)

In [23]:
print(new_list)

[200, 10, 11, 20, 300, 22, 34, 43, 44, 56, 99]

In [28]:
merged = list(zip(data, new_list))

In [30]:
data

[10, 11, 20, 22, 34, 43, 44, 56, 99, 102]

In [32]:
new_list

[200, 10, 11, 20, 300, 22, 34, 43, 44, 56, 99]

In [29]:
print(merged)

[(10, 200), (11, 10), (20, 11), (22, 20), (34, 300), (43, 22), (44, 34), (56, 43), (99, 44), (102, 56)]

In [34]:
new_list[0] = 100

In [35]:
new_list

[100, 10, 11, 20, 300, 22, 34, 43, 44, 56, 99]

# functions

# modules

In [92]:
import math

dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [93]:
math.pi

3.141592653589793