## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [2]:
print(7**4)

2401

In [3]:
if (7**4) == 2401:
    print("Correct")
else:
    print("Incorrect")

Correct

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [5]:
s = "Hi, this is Robson from Gatineau"

In [6]:
s.split()

['Hi,', 'this', 'is', 'Robson', 'from', 'Gatineau']

In [11]:
s

'Hi, this is Robson from Gatineau'

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [12]:
planet = "Earth"
diameter = 12742

In [13]:
print(f"The dimater of the {planet} is {diameter} kilometers.")

The dimater of the Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [14]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [34]:
lst[3][1][2][0]

'hello'

In [35]:
lst[3][1][2][0] = "Hello World"

In [36]:
lst

[1, 2, [3, 4], [5, [100, 200, ['Hello World']], 23, 11], 1, 7]

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [37]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [49]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [50]:
d['k1'][3]['tricky'][3]['target'][3] = "Hello World from Python"

In [52]:
print(d, end=" ")

{'k1': [1, 2, 3, {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'Hello World from Python']}]}]}

** What is the main difference between a tuple and a list? **

In [53]:
# Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [56]:
def domainGet(domain_name):
    return domain_name.split('@')[-1]

In [57]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [64]:
def findDog(dog):
    return 'dog' in dog.lower().split()

In [65]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [66]:
def countDog(string):
    count = 0
    for char in string.lower().split():
        if char == 'dog':
            count += 1
    return count

In [67]:
countDog('This dog runs faster than the other dog dude!')

2

In [75]:
def count_word(str):
    count = 0
    for word in str.lower().split():
        if word == 'python':
            count += 1
    return count

In [76]:
count_word('Python has been chosen as the number one language for data science.')

1

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [78]:
seq = ['soup','dog','salad','cat','great']

In [80]:
list(filter(lambda word:word[0] != 's', seq))

['dog', 'cat', 'great']

In [81]:
# filter the words that don't start with a vowel

In [82]:
words = ['python', 'java', 'C', 'C++', 'C#', 'R', 'Matlab', 'javascript', 'php', 'ruby', 'perl']

In [84]:
list(filter(lambda word: word[0] == 'a,e,i,o,u', words))

[]

In [88]:
# filter all the even numbers from a list

In [89]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
list(filter(lambda n: n % 2 == 0, numbers))

[2, 4, 6, 8]

In [91]:
# filter all the odd numbers from a list
list(filter(lambda n: n % 2 != 0, numbers))

[1, 3, 5, 7, 9]

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [94]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speeding = speed - 5
    else:
         speeding = speed

    if speeding > 80:
        return "You are speeding and will have a big ticket!"
    elif speeding > 60:
        return "You are speeding and will have a small ticket!"
    else:
        return "You are not speeding and will not have a ticket!"

In [95]:
caught_speeding(81,True)

'You are speeding and will have a small ticket!'

In [96]:
caught_speeding(81,False)

'You are speeding and will have a big ticket!'

# Great job!

In [97]:
def can_drink(age):
    if age >= 21:
        return "You can drink"
    return "you can't drink"

In [98]:
can_drink(18)

"you can't drink"

In [99]:
can_drink(34)

'You can drink'

In [100]:
# string slicing

word = "Python"

In [101]:
word[0]

'P'

In [102]:
word[-1]

'n'

In [105]:
word[0:]

'Python'

In [106]:
word[:3] #grab every letter from the beginning to the 3rd

'Pyt'

In [112]:
new_word = "Helicopter"

In [117]:
new_word[5:] #starting at 5 grab everything after

'opter'

In [118]:
new_word[:3]

'Hel'

In [119]:
list_nums = [1, 2, 3, 4, 5]

In [120]:
list_nums[0]

1

In [121]:
list_nums[:2]

[1, 2]

In [122]:
list_nums[2:]

[3, 4, 5]

In [123]:
list_nums[-1] = 10

In [124]:
list_nums

[1, 2, 3, 4, 10]

In [125]:
list_nums[-2] = 9

In [126]:
list_nums

[1, 2, 3, 9, 10]

In [127]:
list_nums[-1]

10

In [128]:
list_nums[1:3]

[2, 3]

In [129]:
list_nums[0] = "One"

In [130]:
list_nums

['One', 2, 3, 9, 10]

In [132]:
nested = [10, 20, [30,40],[50, 60]]

In [133]:
nested

[10, 20, [30, 40], [50, 60]]

In [136]:
nested[0:2] = 100, 200

In [137]:
nested

[100, 200, [30, 40], [50, 60]]

In [138]:
nested[2]

[30, 40]

In [140]:
nested[3][0]

50

In [143]:
nested[2][-1] = 400

In [144]:
nested

[100, 200, [30, 400], [50, 60]]

In [148]:
nested1 = [1,2,3,[4,5, ['target']]]

In [149]:
nested1

[1, 2, 3, [4, 5, ['target']]]

In [160]:
nested1[-1][2][0][0]

't'

In [162]:
"""dictionaries"""

'dictionaries'

In [163]:
students = {
    'Jeff': 18,
    'Alex': 12,
    'Sam': 19,
    'Tom': 20,
    'Tim': 17,
}

In [164]:
students

{'Jeff': 18, 'Alex': 12, 'Sam': 19, 'Tom': 20, 'Tim': 17}

In [169]:
students['Jeff']

18

In [170]:
student_info = dict(name="Jeff", age=18, residence="Gatineau", grades=("A", "B", "C"))

In [171]:
student_info

{'name': 'Jeff', 'age': 18, 'residence': 'Gatineau', 'grades': ('A', 'B', 'C')}

In [172]:
student_info['name']

'Jeff'

In [173]:
student_info['age']

18

In [174]:
student_info.get('country')

In [175]:
student_info['country']

KeyError: 'country'

In [176]:
student_info

{'name': 'Jeff', 'age': 18, 'residence': 'Gatineau', 'grades': ('A', 'B', 'C')}

In [179]:
student_info['grades'][0] = 10

TypeError: 'tuple' object does not support item assignment

In [190]:
student1_info = {
    'first_name': 'David', 'age': 23, 'courses': ['Math', 'CompSci'], 'residence': 'Montreal'
}

In [191]:
student1_info

{'first_name': 'David',
 'age': 23,
 'courses': ['Math', 'CompSci'],
 'residence': 'Montreal'}

In [192]:
print(student1_info)

{'first_name': 'David', 'age': 23, 'courses': ['Math', 'CompSci'], 'residence': 'Montreal'}

In [195]:
student1_info['courses'][0] = 'Advanced Math'

In [196]:
student1_info

{'first_name': 'David',
 'age': 23,
 'courses': ['Advanced Math', 'CompSci'],
 'residence': 'Montreal'}

In [197]:
student1_info['residence'] = "Ottawa"

In [198]:
print(student1_info)

{'first_name': 'David', 'age': 23, 'courses': ['Advanced Math', 'CompSci'], 'residence': 'Ottawa'}

In [199]:
# tuples

In [200]:
t = (0,1,2,3,4,5,6)

In [201]:
t

(0, 1, 2, 3, 4, 5, 6)

In [202]:
t[0]

0

In [203]:
t[:3]

(0, 1, 2)

In [204]:
t[4:]

(4, 5, 6)

In [205]:
{1,2,3,4,5,3,2,1,3}

{1, 2, 3, 4, 5}

In [206]:
set([1,2,3,4,5,3,3,2,1])

{1, 2, 3, 4, 5}

In [207]:
s = {1,2,3,4,5,6,3,2,1}

In [208]:
print(s)

{1, 2, 3, 4, 5, 6}

In [209]:
s.add(3)

In [210]:
s

{1, 2, 3, 4, 5, 6}

In [211]:
s.add(7)

In [212]:
s

{1, 2, 3, 4, 5, 6, 7}

In [213]:
s.add(4,5,6,7,8)

TypeError: add() takes exactly one argument (5 given)

In [214]:
(9<10)

True

In [217]:
(1>2) or (10<20) and (2>=2)

True

In [218]:
if 20 > 10:
    print("20 is greater than 10")

20 is greater than 10

In [224]:
def check_truthiness():
    if 2 > 1:
        return True
    elif 1 > 2:
        return False
    else:
        return None

In [225]:
check_truthiness()

True

In [226]:
1 != 2

True

In [227]:
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

In [228]:
[y for y in range(10, 20) if y % 2 != 0]

[11, 13, 15, 17, 19]

In [230]:
seq = [1,2,3,4,5,6,7,8,9,10]

for s in seq:
    print(s * 2)

2
4
6
8
10
12
14
16
18
20

In [235]:
i = 1
while i < 10:
    print(f"{i} to the power of 2 = {i ** 2}")
    i += 1

1 to the power of 2 = 1
2 to the power of 2 = 4
3 to the power of 2 = 9
4 to the power of 2 = 16
5 to the power of 2 = 25
6 to the power of 2 = 36
7 to the power of 2 = 49
8 to the power of 2 = 64
9 to the power of 2 = 81

In [239]:
for x in range(1, 21):
    print(x, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [2]:
nums = [1,2,3,4,5]

In [3]:
output = []

for num in nums:
    output.append(num ** 2)
    print(output)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

In [4]:
output = [num ** 3 for num in nums]

In [5]:
output

[1, 8, 27, 64, 125]

In [6]:
list(filter(lambda x : x % 2 == 0, range(10)))

[0, 2, 4, 6, 8]

In [9]:
squared = lambda num: num ** 2
squared(4)

16

In [10]:
power = lambda x: x ** 3
print(power(3))

27

In [16]:
binary_number = list(input("Please enter a binary number: "))
value = 0

for i in range(len(binary_number)):
    digit = binary_number.pop()
    if digit == "1":
        value += 2 ** i

print(f"the decimal value of the number is {value}")

the decimal value of the number is 293

In [18]:
"Lambda expressions"

'Lambda expressions'

In [19]:
list_ = [1,2,3,4,5,6,7,8,9,10]

list(map(lambda x: x*2, list_))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
def times_two(list_):
    """
    Return a new list where each value in the input list is multiplied by 2.
    """
    new_list = []
    for i in list_:
        new_list.append(i * 2)
    return new_list

In [22]:
times_two(list_)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [24]:
def power(list_of_numbers):
    new_list = []
    for n in list_of_numbers:
        new_list.append(n ** 2)
    return new_list

list_of_numbers = [10, 20, 30, 40]
print(power(list_of_numbers))

[100, 400, 900, 1600]

In [25]:
40 ** 2

1600

In [28]:
powered = list(map(lambda x: x**2, list_of_numbers))
powered

[100, 400, 900, 1600]

In [30]:
sequence = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
multiplied = list(map(lambda n: n * 10, sequence))

In [31]:
multiplied

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [36]:
sequence = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda n: n%2 !=0, sequence))

[1, 3, 5, 7, 9]

In [37]:
str = "Hello I am Robson"

In [38]:
str.lower()

'hello i am robson'

In [40]:
str.upper()

'HELLO I AM ROBSON'

In [43]:
str[0:5] = 'Hi'

TypeError: 'str' object does not support item assignment

In [45]:
str.isupper()

False

In [50]:
str.split(',')

['Hello I am Robson']

In [51]:
tweet = "this is a fucking great goddamn day"

In [52]:
tweet

'this is a fucking great goddamn day'

In [59]:
tweet.split('fucking')

['this is a ', ' great goddamn day']

In [60]:
tweet.split('goddamn')

['this is a fucking great ', ' day']

In [62]:
dict_ = {"name": "John", "age": 30}

dict_

{'name': 'John', 'age': 30}

In [63]:
dict_.keys()

dict_keys(['name', 'age'])

In [64]:
dict_.items()

dict_items([('name', 'John'), ('age', 30)])

In [65]:
dict_.values()

dict_values(['John', 30])

In [66]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [67]:
lst.pop()

10

In [68]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
item = lst.pop()

In [70]:
item

9

In [72]:
first = lst.pop(0)

In [74]:
first

2

In [76]:
lst

[3, 4, 5, 6, 7, 8]

In [77]:
x = ['a', 'b', 'c', 'd', 'e', 1, 2, 4, 5, 6, 7, 8, 9, 10]
x

['a', 'b', 'c', 'd', 'e', 1, 2, 4, 5, 6, 7, 8, 9, 10]

In [78]:
'd' in x

True

In [79]:
x.pop()

10

In [80]:
x

['a', 'b', 'c', 'd', 'e', 1, 2, 4, 5, 6, 7, 8, 9]

In [82]:
x.insert(10, 'Python')

In [83]:
x

['a', 'b', 'c', 'd', 'e', 1, 2, 4, 5, 6, 'Python', 7, 8, 9]

In [84]:
x.insert(-1, 10)

In [85]:
x

['a', 'b', 'c', 'd', 'e', 1, 2, 4, 5, 6, 'Python', 7, 8, 10, 9]

In [86]:
if 'a' in x:
    print('a is in x')
else:
    print('a is not in x')

a is in x

In [87]:
# tuple unpacking

In [88]:
y = [(1,2), (3,4), (5,6)]

In [89]:
y

[(1, 2), (3, 4), (5, 6)]

In [91]:
y[0][1]

2

In [92]:
y

[(1, 2), (3, 4), (5, 6)]

In [94]:
for i in y:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [97]:
for (a,b) in y:
    print(a)
    print(b)

1
2
3
4
5
6

In [98]:
for (a,b,c) in y:
    print(a,b,c)

ValueError: not enough values to unpack (expected 3, got 2)

In [99]:
new_t = [(1,2,3), (4,5,6), (7,8,9)] 
new_t

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [100]:
for (x,y,z) in new_t:
    print(x,y,z)

1 2 3
4 5 6
7 8 9

In [101]:
def domainGet(email):
    return email.split("@")[1]

domainGet('user@domain.com')

'domain.com'

In [103]:
def remove_hashtag(tweet):
    return tweet.split("#")[1]

remove_hashtag("#HelloWorld")

'HelloWorld'

In [104]:
def find_dog(str):
    return 'dog' in str.lower()

str  = 'This dog runs faster than the other dog dude!'
find_dog(str)

True

In [105]:
def count_dog(string):
    return string.count('dog')

string = 'dog dog dog dog dog'
count_dog(string)

5

In [123]:
words = ['car', 'bike', 'moto', 'plane', 'bus', 'train']

words.append('ship')

In [125]:
list(filter(lambda word: word[0] == 'c', words))

['car']

In [126]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speeding = speed - 5
    speeding = speed

    if speeding > 80: return "Big Ticket"
    elif speeding > 60: return "Small Ticket"
    else: return "No Ticket"

caught_speeding(90, False)

'Big Ticket'